
.vs/421_Jail/v16/.suo
.vs/421_Jail/v16/Server/sqlite3/db.lock
.vs/421_Jail/v16/Server/sqlite3/storage.ide
.vs/421_Jail/v16/Server/sqlite3/storage.ide-shm
.vs/421_Jail/v16/Server/sqlite3/storage.ide-wal
.vs/421_Jail/v15/.suo
.vs/421_Jail/v15/Server/sqlite3/storage.ide
.vs/421_Jail/v15/Server/sqlite3/storage.ide-shm
.vs/421_Jail/v15/Server/sqlite3/storage.ide-wal
